# Virtual environment
venv/
venv

# Python
__pycache__/
*.pyc
*.pyo

# Node
**/node_modules/

# macOS
.DS_Store

# AI Refinery
.air/

# Output files
report_output/
audio_output/
*.docx

# Windows Zone.Identifier files
*Zone.Identifier

# Screenshots
*.png

# Zip archives
*.zip

# Unzipped old versions
*-old/
